option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_KEY: 5tHN1s0feqNENBnekmgWb2cra09Irzn6
    CLASH_OF_CLANS_API_KEY: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjEzZDJiNDkyLWUxZTEtNDkwOS1iNTVmLTNiNzA4ODkyZDhlNCIsImlhdCI6MTU3MzMxNTUzMiwic3ViIjoiZGV2ZWxvcGVyLzA1YmQwMjBkLTcxYzEtZWNlMi03NTMxLTQ0OGI5ZDcwNTc2ZCIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjE1LjIwNi4xNDcuMTIiXSwidHlwZSI6ImNsaWVudCJ9XX0.D-YWWQR0tq4G5srxg0VJl3Ri919Q2SUpr1NhXes3hGTun1Czx4pMHOO82U3n-BAAyqPtQr0L4retw5sYgSf3ag

container_commands:
  001_october_install:
    command: php artisan october:up
