description = "Default layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "top-left"

[session]
security = "all"
==
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ this.page.title }}</title>
    <meta name="title" content="{{ this.page.title }}">
    <meta name="description" content="{{ this.page.description }}">
    <link rel="shortcut icon" href="{{'assets/img/favicon.ico'|theme}}">
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#FFFFFF" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
    <meta name="apple-mobile-web-app-title" content="{{__SELF__.appName}}">
    <link rel="apple-touch-icon" href="{{__SELF__.iosIcon}}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link href="{{ [
        'assets/css/bootstrap.min.css',
        'assets/css/mdb.min.css',
        'assets/css/style.css',
    ]|theme }}" rel="stylesheet">
    <script data-ad-client="ca-pub-5745787316839400" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% styles %}
</head>

<body>
    <noscript>Your browser does not support JavaScript!</noscript>
    <!-- Header -->
    <header id="layout-header" class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark clashfreaks-special-color-dark">
            <a class="navbar-brand" href="{{ 'home'|page }}" style="font-family: 'Baloo Bhai', cursive;">
                <img src="{{'assets/img/logo.jpg'|theme}}" height="30" class="d-inline-block align-top"
                    alt="clashfreaks logo"> Clashfreaks
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                {% component 'staticMenu' %}
                <ul class="navbar-nav ml-auto nav-flex-icons float-right">
                    {% if user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <!-- <i class="fas fa-user"></i> -->
                            <img src="{{user.avatarThumb(25)}}" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                            aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="{{ 'account'|page }}">My Account</a>
                            <a class="dropdown-item" href="{{ 'my-base-designs'|page }}">My Base Designs</a>
                            <a data-request="onLogout" data-request-data="redirect: '/login'"
                                class="dropdown-item">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ 'login'|page }}">Login / Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Content -->
    <section id="layout-content">
        {% page %}
    </section>
    <div style="position: fixed;right: 5px;top: 60px;z-index: 50">
        <!-- Then put toasts within -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="2000">
            <div class="toast-header">
                <strong class="mr-auto" id="toast_title">Copied To Clipboard</strong>&nbsp
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" id="toast_description">
                See? Just like this.
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer id="layout-footer" class="page-footer font-small clashfreaks-special-color-dark pt-4">
        {% partial 'site/footer' %}
    </footer>

    <!-- SCRIPTS -->
    <script>
        // CODELAB: Register service worker.
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then((reg) => {
                        console.log('Service worker registered.', reg);
                    });
            });
        }
    </script>
    <!-- JQuery -->
    <script src="{{ [
        'assets/js/jquery-3.4.1.min.js',
        'assets/js/addons/rating.js',
        'assets/js/popper.min.js',
        'assets/js/bootstrap.min.js',
        'assets/js/mdb.min.js',
        'assets/js/script.js',
        'assets/js/install.js',
    ]|theme }}"></script>

    {% framework extras %}
    {% scripts %}
</body>

</html>