title = "Blog"
url = "/blog/:slug"
layout = "default"
description = "This page displays a single blog post"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blogs"

[ssbuttons]
fa = "maxcdn"
twitter = 1
facebook = 1
google+ = 0
stumbleupon = 0
linkedin = 0
order_twitter = 1
order_facebook = 2
order_google+ = 3
order_stumbleupon = 4
order_linkedin = 5

[forumEmbedTopic]
embedCode = "{{ :slug }}"
channelSlug = "blog"
memberPage = "account"
==
<main class="container">
    <!--Main layout-->
    <div class="mt-5">
        <!-- First row -->
        <div class="row">
            <div class="col-md-9">
                {% set post = blogPost.post %}
                <div class="jumbotron">
                    <h2 class="display-4">{{ post.title }}</h2>
                    <hr>
                    <div class="content" id="blog-content">{{ post.content_html|raw }}</div>
                    {% if post.featured_images.count %}
                    <div id="base_design_carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in post.featured_images %}
                            <div class="carousel-item {{ loop.index==1 ? 'active' : null }}">
                                <img class="d-block w-100" data-src="{{ image.filename }}" src="{{ image.path }}"
                                    alt="{{ image.description }}">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#base_design_carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#base_design_carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% endif %}
                    <p class="lead mt-2">
                        Posted
                        {% if post.categories.count %} in
                        {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        {% endif %}
                        on {{ post.published_at|date('M d, Y') }}
                        by <strong>{{ post.user.full_name}}</strong>
                    </p>
                    {% component 'ssbuttons' %}
                    <hr>
                    <div class="rainlab-forum">

                        {% flash %}
                        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        </div>
                        {% endflash %}

                        {% if returnUrl %}
                        <p>&larr; <a href="{{ returnUrl }}">Back to {{ channel.title }}</a></p>
                        {% endif %}

                        {% if topic %}

                        <h4 class="text-uppercase">{{ topic.subject }}</h4>

                        <div class="row">
                            <div class="col-md-3 col-md-push-9">

                                <div id="topicControlPanel">
                                    {% partial "@controlpanel" %}
                                </div>

                            </div>
                            <div class="col-md-9 col-md-pull-3">

                                {% partial "@posts" %}

                                {% partial "@pagination" %}

                                <h4>Reply to this discussion</h4>
                                {% if not topic.canPost %}
                                <p>
                                    You cannot edit posts or make replies:
                                    {% if not member %}You should be logged in before you can post.{% endif %}
                                    {% if member.is_banned %}Your account is banned.{% endif %}
                                    {% if topic.is_locked %}This topic is locked.{% endif %}
                                </p>
                                {% else %}
                                {% partial "@postform" %}
                                {% endif %}

                            </div>
                        </div>

                        {% elseif channel %}

                        <h4>Create a new discussion topic</h4>
                        {% partial "@createform" %}

                        {% else %}

                        <p>Topic not found</p>

                        {% endif %}



                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Side banner -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5745787316839400"
                    data-ad-slot="7899868645" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <!-- /.First row -->
    </div>
</main>